# Node modules
node_modules/

# Log files
*.log

# Dependency directories
npm-debug.log
yarn-error.log

# Environment variables file
.env

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db