
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #777;
}
  /*  sticky footer
body {
  margin: 0;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.container {
  flex: 1;
}

.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: sticky;
  bottom: 0;
}

  sticky footer */

/**/
#main-navbar {
   
  color: white;
  
}

.nav-font-color {
  color: white;
}

#background-image-container {
  color: white;
  background-color: rgba(0, 0, 0, .6);
  background-image: url("/pics/IMG_20210730_122717.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  padding-bottom: 40px;
  
  /* 
  background-image: url('../pics/<%= randomImage %>');
  Add other styles for the container */
}

/* 
a {
  color: #00B7FF;
}
 */

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

